$primary-color: #E66D2F;
$primary-color-light: rgba(206, 131, 84, 0.1);
$primary-color-light-dark: rgba(255, 184, 139, 1);
$secundary-color: #474848;
$bg-color: #eff2fd;
$titles: 30px;
$parragraf: 18px;

body {
background-color: $bg-color;
background-image: url('./img/bg.jpg');
}
  
* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  margin: 0px;
  padding: 0px;
}
  
.header{
    display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .7em 0;
  border-bottom: solid 1px $primary-color;
  &__text{
      color: $primary-color;
  }
}
